---
layout: homepage
metadesc: The quickest way to get your next web project up and running
title: My Yoga Project
author: David Longley
images:
  - image: >-
      https://lh3.googleusercontent.com/-z2dk0TjDGYU/WdK9DVqRW8I/AAAAAAAATlU/Lu7-k8raXXAwXdo7RxDIwZuZlK3LxRf9QCLcBGAs/s640-rj-e30-v2/1e.jpg
  - image: >-
      https://lh3.googleusercontent.com/-DW7JLOFjnmw/WdK9DAmBovI/AAAAAAAATlQ/UcqBpb4JWv41dAblxaY6ZNeQKYYyIb2lgCLcBGAs/s640-rj-e30-v2/1d.jpg
  - image: >-
      https://lh3.googleusercontent.com/-M5wsYb1jCvU/WdK9Ch8LaWI/AAAAAAAATlE/Nez7MG3C7o49dJX2QCb_3zsh1RBHNGkdACLcBGAs/s640-rj-e30-v2/1a.jpg
  - image: >-
      https://lh3.googleusercontent.com/-jbjtHUWXn-E/WdK9CwroXoI/AAAAAAAATlI/7MAxW1WPGcMvsf5cHYnkMfkQcMQkvKarwCLcBGAs/s640-rj-e30-v2/1c.jpg
  - image: >-
      https://lh3.googleusercontent.com/-t3pkmtzHswE/WdK9DY2Us2I/AAAAAAAATlY/AEEty2Vy0FEtGVnXnEWmkXPpPknOwJ4_ACLcBGAs/s640-rj-e30-v2/3a.jpg
  - image: >-
      https://lh3.googleusercontent.com/-FmwjzC2aVdk/WdK9DuybcOI/AAAAAAAATlc/hZ3_0jI2YnAnbgclsEScF_Ga2vgc1O6ogCLcBGAs/s640-rj-e30-v2/3b.jpg
---

<body id="page-top">
      <!-- navigation -->
    {% include main-nav.html format="homepage"%}
    {% include masthead.html %}
    {% include about.html %}    
    {% include services.html %}
    {% include portfolio.html %}
    {% include CTA-download.html %}
    {% include who-we-are.html %} 
    {% include photoform.html %}
    {% include contact.html %}
    {% include footer-dark.html %}
    <!-- include imagebox.html
    <script type="text/javascript" src="https://static.mailerlite.com/data/webforms/597602/a7z7x6.js?v1"></script> -->
   
</body>