<section class="bg-primary" id="about">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 mx-auto text-center">
          <h2 class="section-heading text-white editable">When you are ready</h2>
          <hr class="light" />
          <p class="text-faded editable">Yoga offers everything you need to get your new life up and running in no time! we help you assimilate all of the practice and meditation techniques you need until you no longer need us.</p>
          <a class="btn btn-default btn-xl js-scroll-trigger editable" href="#services">Get Started!</a>
        </div>
      </div>
    </div>
  </section>