<section id="contact">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 mx-auto text-center">
          <h2 class="section-heading">{{ site.data.contact.title }}</h2>
          <hr class="primary" />
          <p>{{ site.data.theme.sections.contact.blurb }}</p>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-4 ml-auto text-center">
          <i class="fa fa-phone fa-3x sr-contact"></i>
          <p>{{ site.data.contact.phone }}</p>
        </div>
        <div class="col-lg-4 mr-auto text-center">
          <i class="fa fa-envelope-o fa-3x sr-contact"></i>
          <p>
            <a href="mailto:your-email@your-domain.com">{{ site.data.contact.email }}</a>
          </p>
        </div>
      </div>
    </div>
  </section>