<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-light fixed-top {{ include.format }}" id="mainNav">
      <div class="container">
        <a class="navbar-brand js-scroll-trigger editable" href="#page-top"><img class="editable" src="img/lotus.svg" width="30px" />yoga sha</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            {% for nav in site.data.main-navigation %}
             <li class="nav-item">
             {% if nav.link contains 'https://' or nav.link contains 'http://' %} 
              <a class="nav-link js-scroll-trigger" href="{{ nav.link }}">{{ nav.name }}</a>
             {% else %}
              <a class="nav-link js-scroll-trigger" href="{{ site.baseurl }}{{ nav.link }}">{{ nav.name }}</a>
             {% endif %}
             </li>
            {% endfor %}
          </ul>
        </div>
      </div>
</nav>
