<section class="bg-primary" id="portfolio">
    <div class="container">
    <div class="row">
      <div class="col-lg-8 mx-auto text-center">
        <h2 class="section-heading text-white editable">{{ site.data.portfolio.title }}</h2>
        <hr class="light" />
        <p class="text-faded editable">A Whole New Way of Being</p>

      </div>
    </div>
  </div>
  <div class="container-fluid">

    <div class="row no-gutter popup-gallery">
     {% for item in site.data.portfolio.items %}
      <div class="col-lg-4 col-sm-6">
        <a class="portfolio-box" href="{{ item.link }}" title="{{ item.title }}">
          <img class="img-fluid" src="{{ item.image }}" alt="" />
          <div class="portfolio-box-caption">
            <div class="portfolio-box-caption-content">
              <div class="project-category text-faded">
                {{ item.caption-category }}
              </div>
              <div class="project-name">
                {{ item.caption-title }}
              </div>
              <i class="fa fa-search-plus" aria-hidden="true"></i>

            </div>
          </div>
        </a>
      </div>
      {% endfor %}
    </div>
  </div>
</section>