<section class="bg-primary" id="who-we-are">
    <div class="section-we-are-2">
                            <div class="text-area text-white">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-md-4">
                                            <div class="title add-animation-stopped animate">
                                                <h5 class="editable">Our Promise To You</h5>
                                                <h2 class="editable">Your Confusions Cured or your Confusions back</h2>
                                               <!--<div class="separator-container">
                                                    <div class="separator line-separator">✻</div>
                                                </div>-->
                                            </div>
                                        </div>
                                        <div class="col-md-7 col-md-offset-1">
                                            <div class=" editable description add-animation-stopped animation-1 animate"><p>Sometimes life ties us in knots and we aren't even aware of the problem. It creaps up on us. You start to notice little aches and pains, loss of get up and go. This is not a natural state.</p><p>Yoga will quickly have you back in the driving seat and return your lust for life. Don't wait a moment longer. You are dying.</p><p>** The three pictures below might help you decide to choose a new life</p></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="container">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="row">
                                            <div class="col-md-4">
                                                <div class="card add-animation-stopped animation-1 animate">
                                                    <img class="editable" alt="Apples" id="cms-identifiable-428" data-cms-cid="2965" src="https://lh3.googleusercontent.com/-GGfA4AOZ_BM/Wd3_iiMtEqI/AAAAAAAATvA/mq_u9Bwmj_0lko_J3bkX2bapYJQoOOIoQCLcBGAs/s1500-e30-v2/smoker.jpg" />
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="card add-animation-stopped animation-2 animate">
                                                    <img class="editable" alt="Kiwi Fruit" id="cms-identifiable-3842" data-cms-cid="2973" src="https://lh3.googleusercontent.com/-u2eWO0TrAy4/Wd3_im6g1EI/AAAAAAAATu4/37oRvzEJnRA4JTiyV-d2IiYnA_M76jFWACLcBGAs/s1500-e30-v1/bobbins.jpg" />
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="card add-animation-stopped animation-3 animate">
                                                    <img class="editable" alt="Oranges" id="cms-identifiable-3850" data-cms-cid="2981" src="https://lh3.googleusercontent.com/-Jyqg0146S4s/Wd3_ivXqqrI/AAAAAAAATu8/M1BU5n1Ptykhr7IUrw0J4uI68uvJuRMegCLcBGAs/s640-e30-v2/peacock.jpg" />
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
        </section>
