// Styling for the call to action section
.call-to-action {
  /*background-image: url(https://lh3.googleusercontent.com/a3wd_bw17m8BOnDEJPLCH9fgNxORZgCARdE1mtUbrMQsIMQXY5NR1BO7nhDjZCTV4FiE21-m76w334d4ZQ=w150-c-rj-e30);
  background-repeat: repeat-y repeat-x;*/
     background:url(
data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAPklEQVQYV2O8dOnSfwYg0NPTYwTRuAAj0QqxmYBNM1briFaIzRbi3UiRZ75uNgUHGbfvabgfsHqGaIXYPAMAD8wgC/DOrZ4AAAAASUVORK5CYII=
   ) repeat;
  padding: 50px 0;
  h2 {
    margin: 0 auto 20px;
  }
}
