<!DOCTYPE html>
<html lang="en">

  <head>
    

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="{{ page.metadesc }}">
    <meta name="author" content="{{ page.author }}">

    <title>{{ page.title }}</title>

    <!-- combined CSS -->
    <link href="css/main.css" rel="stylesheet">

    <!-- include analytics.html -->

    
  </head>
  
  
  {{ content }}
  
    <!-- combined js -->
    <script async src="js/main.js"></script>
    
  </body>

</html>
